{% extends "./base.html" %}

{% block content %}

<div style="margin-top: 50px;">
    <center><h2>Покупка билета</h2></center>

    <table class="table table-striped" style="width: 90%;margin-left:75px ;margin-top: 30px;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Время отправления</th>
                <th scope="col">Время прибытия</th>
                <th scope="col">Номер поезда</th>
                <th scope="col">Город прибытия</th>
                <th scope="col">Купить</th>
            </tr>
        </thead>
        <tbody>
            {%for i in routes%}

            <tr>
                <td>{{i.route_time}}</td>
                <td>{{i.start}}</td>
                <td>{{i.end}}</td>
                <td><a href="http://127.0.0.1:8000/booking/"><button class='btn btn-success'>Купить билет</button></a></td>

            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}